//Blue
$--gbg-blue: #0076bc;
$--gbg-blue-20w: #cce4f2;
$--gbg-blue-40w: #99c8e4;
$--gbg-blue-60w: #66add7;
$--gbg-blue-15b: #0064a0;
$--gbg-blue-text: #005384;

$--gbg-blue-btn: #005799;
$--gbg-blue-btn-hover: #004172;

//Pink
$--gbg-pink: #de0069;
$--gbg-pink-20w: #f8cce1;
$--gbg-pink-40w: #f299c3;
$--gbg-pink-60w: #eb66a5;
$--gbg-pink-15b: #bd0059;
$--gbg-pink-30b: #9b004a;
$--gbg-pink-text: #85003f;

//Lime
$--gbg-lime: #c3c200;
$--gbg-lime-20w: #f3f3cc;
$--gbg-lime-40w: #e7e799;
$--gbg-lime-60w: #dbda66;
$--gbg-lime-15b: #a6a500;
$--gbg-lime-30b: #898800;
$--gbg-lime-text: #626100;

//Orange
$--gbg-orange: #f18700;
$--gbg-orange-20w: #fce7cc;
$--gbg-orange-40w: #f9cf99;
$--gbg-orange-60w: #f7b766;
$--gbg-orange-15b: #cd7300;
$--gbg-orange-30b: #a95f00;
$--gbg-orange-text: #915100;

//Purple
$--gbg-purple: #b35593;
$--gbg-purple-20w: #f0dde9;
$--gbg-purple-40w: #e1bbd4;
$--gbg-purple-60w: #d199be;
$--gbg-purple-15b: #98487d;
$--gbg-purple-30b: #7d3c67;
$--gbg-purple-text: #6b3358;

//Lavendel
$--gbg-lavendel: #707da3;
$--gbg-lavendel-10w: #f1f2f6;
$--gbg-lavendel-20w: #e2e5ed;
$--gbg-lavendel-40w: #c6cbda;
$--gbg-lavendel-60w: #a9b1c8;
$--gbg-lavendel-15b: #5f6a8b;
$--gbg-lavendel-30b: #4e5872;
$--gbg-lavendel-text: #434b62;

//Rust
$--gbg-rust: #b93342;
$--gbg-rust-20w: #f1d6d9;
$--gbg-rust-40w: #e3adb3;
$--gbg-rust-60w: #d5858e;
$--gbg-rust-15b: #9d2b38;
$--gbg-rust-30b: #82242e;
$--gbg-rust-text: #6f1f28;

//Ocean
$--gbg-ocean: #88ccd0;
$--gbg-ocean-20w: #e7f5f6;
$--gbg-ocean-40w: #cfebec;
$--gbg-ocean-60w: #b8e0e3;
$--gbg-ocean-15b: #74adb1;
$--gbg-ocean-30b: #5f8f92;
$--gbg-ocean-text: #446668;

//Green
$--gbg-green: #51aa50;
$--gbg-green-20w: #dceedc;
$--gbg-green-40w: #b9ddb9;
$--gbg-green-60w: #97cc96;
$--gbg-green-15b: #459144;
$--gbg-green-30b: #397738;
$--gbg-green-text: #316630;

//Yellow
$--gbg-yellow: #f2b600;
$--gbg-yellow-20w: #fcf0cc;
$--gbg-yellow-40w: #fae299;
$--gbg-yellow-60w: #f7d366;
$--gbg-yellow-15b: #ce9b00;
$--gbg-yellow-30b: #a97f00;
$--gbg-yellow-text: #795b00;

//Moss
$--gbg-moss: #4f5a30;
$--gbg-moss-20w: #dcded6;
$--gbg-moss-40w: #b9bdac;
$--gbg-moss-60w: #959c83;
$--gbg-moss-15b: #434d29;
$--gbg-moss-30b: #373f22;
$--gbg-moss-text: #2f361d;

//Maroon
$--gbg-maroon: #5d2829;
$--gbg-maroon-20w: #dfd4d4;
$--gbg-maroon-40w: #bea9a9;
$--gbg-maroon-60w: #9e7e7f;
$--gbg-maroon-15b: #4f2223;
$--gbg-maroon-30b: #411c1d;
$--gbg-maroon-text: #381819;

//Petrol
$--gbg-petrol: #3f5564;
$--gbg-petrol-20w: #3f5564;
$--gbg-petrol-40w: #b2bbc1;
$--gbg-petrol-60w: #8c99a2;
$--gbg-petrol-15b: #364855;
$--gbg-petrol-30b: #2c3c46;
$--gbg-petrol-text: #26333c;

//Grey
$--gbg-grey: #767676;
$--gbg-grey-10w: #f1f1f1;
$--gbg-grey-20w: #e4e4e4;
$--gbg-grey-40w: #c8c8c8;
$--gbg-grey-60w: #adadad;
$--gbg-grey-15b: #646464;
$--gbg-grey-30b: #535353;
$--gbg-grey-40b: #474747;

$--gbg-grey-top: #f5f5f5;
$--gbg-grey-bottom: #ebebeb;

//Opaque
$--gbg-grey-opaque: rgba(0, 0, 0, 0.1);
$--gbg-grey-opaque-light: rgba(0, 0, 0, 0.05);