@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

    $--type-default: "Open Sans", Arial, sans-serif;
    $--type-sz1: 600 11px/18px "Open Sans", Arial, sans-serif;
    $--type-sz2: 13px/24px "Open Sans", Arial, sans-serif;
    $--type-sz3: 15px/24px "Open Sans", Arial, sans-serif;
    $--type-sz4: 18px/30px "Open Sans", Arial, sans-serif;
    $--type-sz5: 23px/30px "Open Sans", Arial, sans-serif;
    $--type-sz6: 30px/42px "Open Sans", Arial, sans-serif;
    $--type-sz7: 45px/54px "Open Sans", Arial, sans-serif;
    $--type-sz8: 60px/72px "Open Sans", Arial, sans-serif;

    $--type-sz-h1-half: 700 30px/1.48 "Open Sans",Arial,sans-serif;
    $--type-sz-h1: 700 60px/1.48 "Open Sans",Arial,sans-serif;

    $--type-sz-h3: 700 22px/1.48 "Open Sans",Arial,sans-serif;
    $--type-sz-h3-half: 700 18px/1.48 "Open Sans",Arial,sans-serif;

    $--type-sz-p-half: 400 15px/1.48 "Open Sans",Arial,sans-serif;
    $--type-sz-p: 400 18px/1.48 "Open Sans",Arial,sans-serif;





  
    
