<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="file:///Z:/Documents/Studier/Skolan/H%C3%B6gskolan%20V%C3%A4st/ETB310%20E-tj%C3%A4nster%20och%20XML/Etjansteprojekt/testAdd.html">Snapp test</a>
        <a href="file:///Z:/Documents/Studier/Skolan/H%C3%B6gskolan%20V%C3%A4st/ETB310%20E-tj%C3%A4nster%20och%20XML/Etjansteprojekt/handlaggare.html">hand redan loggin</a>
    </div>
</div>
